*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    float: left;
    height: 200px;
    width: 33.33%;
}

.one{
    background: pink;
}
.two {
    background: black;
}
.tre {
    background: plum;
}