*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    height: 200px;
    color: aqua;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.big{
    background: url("/картинки/пчела.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.smoll{
    border: 2px solid blueviolet;
    background: url("/картинки/коняка.jpg");
    background-repeat: no-repeat;
    background-position: 85% 50%;



}
.folder{
    background: url("/картинки/хлеб.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}